<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Rectangle Checker</title>
</head>

<body>
    <div class="container">
        <h1>Rectangle Checker</h1>
        <form action="/rectangle-result">
            <div class="form-group">
                <label for="length">Length:</label>
                <input type="number" name="length" id="length" class="form-control">
            </div>
            <div class="form-group">
                <label for="width">Width:</label>
                <input type="number" name="width" id="width" class="form-control">
            </div>
            <button type="submit" name="button">Submit</button>
        </form>
    </div>
</body>

</html>
